@mixin shadow {
    box-shadow: 2px 2px 10px $shadow-color;
}

@mixin flex_row {
    display: flex;
    flex-direction: row;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
}

@mixin gray_light {
    background-color: $gray_color_light;
}

@mixin align_justify_center {
    align-items: center;
    justify-content: center;
}

@mixin overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}